#page-header {
    text-align: center;
    color: white;
    font-family: sans-serif;
    border: solid 0.1px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;

    
}

#page-subheader {
    text-align: center;
    color: white;
}

#lesson-title{
    text-align: center;
    color: white;
}