.questions-answers {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.687);
    border: 1px solid #0000008a;
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;
    text-align:center;
}

.answers{
    text-align:left;
}

.question{
    text-align:left;
}

#continue-lesson-submit-button{
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}