.lesson-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    display: grid;
    grid-template-columns: 65%, 35%;
    grid-template-areas:
    "content-title      content-title"
    "content-text       content-image"
    "continue-button    continue-button";
    background-color: rgba(255, 255, 255, 0.687);
    border: 1px solid #0000008a;
    border-radius: 10px;
    padding: 10px;
}

.content-title {
    grid-area: content-title;
}

.content-text{
    grid-area: content-text;
}

.content-image{
    grid-area: content-image;
    background-color: red
}

.continue-lesson-button{
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    grid-area: continue-button;
}